@import "../../styles/colors.module.scss";

.table {
  width: 100%;
  color: $lightest;

  thead {
    color: $primary;
  }

  th,
  td {
    border-bottom: 1px solid #707070;
    padding: 27px 0;
  }

  td {
    text-align: center;
  }
}

.empty {
  padding-top: 25px;
  width: 100%;
  margin: auto;
  text-align: center;
  color: $orange;
  font-size: 18px;
}
