@import "../../styles/colors.module.scss";

.form {
  color: $lightest;

  &__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 0 40px;
  }

  &__actions{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
}

.ip__input {
  margin-right: 7px;
  width: 45px;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}
