@import "./colors.module.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $background;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

input,
select {
  height: 33px;
  width: 200px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0 10px;
}

input[type="radio"] {
  width: initial;
  height: initial;
}
